PORT=3000

#PostgreSQL Database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=tmdb_app
DATABASE_HOST=db       # This is the service name from docker-compose.yml
DATABASE_PORT=5432

#Redis
REDIS_HOST=cache     # This is the service name from docker-compose.yml
REDIS_PORT=6379

#External APIs (TMDB)
TMDB_API_KEY=YOUR_TMDB_API_KEY_GOES_HERE

#Security
JWT_SECRET=YOUR_SUPER_SECRET_JWT_KEY